<section class="content-header">
  <h1>Explore the Market</h1>
</section>
<section class="content">
  <div class="box">
    <div class="box-header">
      <button class="btn btn-default" type="button" data-toggle="modal" data-target="#modal-search-stock-market"><i class="fa fa-search"></i> Symbol Lookup</button>
    </div>
    <div class="box-body">
      <div class="row" id="public_market_index">
        <%= render '/stocks/partials/stocks' %>
      </div>
    </div>
  </div>
</section>
<!-- Stock Market Search Modal -->
<%= render '/stocks/partials/stock-search'%>

<script>
<% if current_user.user_stocks.count > 0 %>
setInterval(function() {
  $.ajax ( {
        type: 'get',
        url: '/market-update',
        dataType: 'script',
        success: function(data) {
        }
    });
}
, 5000);
<% end %>
</script>
