<div class="tab-pane" id="tab_1-4">
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <ul class="timeline">
        <!-- label -->
        <li class="time-label">
          <span class="bg-green"> [Today's Date] </span>
        </li>

        <!-- News Article -->
        <li>
          <i class="fa fa-news"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock">[Time Stamp]</i></span>
            <h3 class="timeline-header"> <a href="#">[News Article]</a></h3>
            <div class="timeline-body">
              [Description]
            </div>
            <div class="timeline-footer">
              <a href="#">Read Article</a>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
