<div class="tab-pane" id="tab_1-3">
<div class="row">
  <div class="col-md-2">
    <h1>Q2</h1>
    <h6><i>Report Filed: [Report Date]</i></h6>
  </div>
</div>
<div class="row">
  <div class="col-md-2 pull-right">
    <h4>[Net income]</h4>
  </div>
</div>
<!-- Revenue -->
<div class="row">
  <strong>
  <hr>
  </strong>
</div>
<div class="row">
  <div class="col-md-2">
    <h2>Revenue</h2>
  </div>
  <div class="col-md-6 col-md-offset-4">
    <div class="row">
      <div class="col-md-12">
        <div class="color-palette-set">
          <div class="bg-green disabled color-palette user-stock-title"><span>Type of Income</span></div>
          <div class="bg-green color-palette text-center"><span>[Amount of Income]</span></div>
          <div class="bg-green-active color-palette text-center"><span><i>Income</i></span></div>
        </div>
        <div class="color-palette-set">
          <div class="bg-green disabled color-palette user-stock-title"><span>Type of Income</span></div>
          <div class="bg-green color-palette text-center"><span>[Amount of Income]</span></div>
          <div class="bg-green-active color-palette text-center"><span><i>Income</i></span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Expenses -->
<div class="row">
  <strong>
  <hr>
  </strong>
</div>
<div class="row">
  <div class="col-md-2">
    <h2>Expenses</h2>
  </div>
  <div class="col-md-6 col-md-offset-4">
    <div class="row">
      <div class="col-md-12">
        <div class="color-palette-set">
          <div class="bg-red disabled color-palette user-stock-title"><span>Type of Expense</span></div>
          <div class="bg-red color-palette text-center"><span>[Amount of Expense]</span></div>
          <div class="bg-red-active color-palette text-center"><span><i>Expense</i></span></div>
        </div>
        <div class="color-palette-set">
          <div class="bg-red disabled color-palette user-stock-title"><span>Type of Expense</span></div>
          <div class="bg-red color-palette text-center"><span>[Amount of Expense]</span></div>
          <div class="bg-red-active color-palette text-center"><span><i>Expense</i></span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Below The Line -->
<div class="row">
  <strong>
  <hr>
  </strong>
</div>
<div class="row">
  <div class="col-md-2">
    <h2>Below the Line</h2>
  </div>
  <div class="col-md-6 col-md-offset-4">
    <div class="row">
      <div class="col-md-12">
        <div class="color-palette-set">
          <div class="bg-red disabled color-palette user-stock-title"><span>Type of Expense</span></div>
          <div class="bg-red color-palette text-center"><span>[Amount of Expense]</span></div>
          <div class="bg-red-active color-palette text-center"><span><i>Expense</i></span></div>
        </div>
        <div class="color-palette-set">
          <div class="bg-green disabled color-palette user-stock-title"><span>Type of Expense</span></div>
          <div class="bg-green color-palette text-center"><span>[Amount of Expense]</span></div>
          <div class="bg-green-active color-palette text-center"><span><i>Expense</i></span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  TOTALS  -->
<div class="row">
  <strong>
    <hr>
  </strong>
</div>
<div class="row">
  <div class="col-md-2">
    <h2>Addtnl information</h2>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <div class="color-palette-set">
      <div class="bg-red disabled color-palette user-stock-title"><span>Type of Expense</span></div>
      <div class="bg-red color-palette text-center"><span>[Amount of Expense]</span></div>
      <div class="bg-red-active color-palette text-center"><span><i>Expense</i></span></div>
    </div>
    <div class="color-palette-set">
      <div class="bg-green disabled color-palette user-stock-title"><span>Type of Expense</span></div>
      <div class="bg-green color-palette text-center"><span>[Amount of Expense]</span></div>
      <div class="bg-green-active color-palette text-center"><span><i>Expense</i></span></div>
    </div>
  </div>

</div>



</div>
