<div class="col-xs-12 col-md-2">
  <div class="color-palette-set">
    <div class="bg-gray disabled color-palette user-stock-title"><span><%= stock.stock.symbol %></span></div>
    <div class="bg-gray color-palette text-center"><span><%= stock.stock.latest_price %></span></div>
    <div class="bg-gray-active color-palette text-center"><span><%= stock.stock.running_low + ' - ' + stock.stock.running_high%></span></div>
  </div>
</div>
