/*
*
*
*= require style
*= require application/font-awesome.min.css
*= require ionicons
*= require_self

*/

.user-stock-title {
  font-size: 30px;
  text-align: center;
}

.stock-search-button {
  color: black;
}


.view-stock-show {
  color: white;
}

.color-palette-set {
  box-shadow: 0 0 8px -2px #464646;
  margin: 5px;
}


.market-li-item {
  margin: 0 10px;
}

.easyPaginateNav {
  text-align: center;
}
